# unconventional js
/blueprints/*/files/

# compiled output
/dist/

# misc
/coverage/
!.*
.*/
/pnpm-lock.yaml
ember-cli-update.json
*.html

# libjxl emscripten build, copied verbatim from @jsquash/jxl
/public/jxl/
